html {
    width: 300px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    background-color: #e5e5e5;
}

body, div {
    width: inherit;
    height: inherit;
    margin: 0px;
}

#everything-container {
    border-style: solid;
    border-width: 6px;
    border-color: #e5e5e5;
}

html, body {
    background-color: #fbfbfb;
}

h1 {
    margin-top: 50px;
    margin-bottom: 0px;
}

.btn {
    margin-top:20px;
    color: #FFFFFF;
    background-color: #63c121;
}

.btn:hover {
    color:#000000;
    transition: 0.4s;
}

.slider_container {
    margin: 20px auto;
    width: 200px;
    height: 50px;
}

.slider {
    width: 100px;
    background: #000000;
}
